* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d2d2d;
    color: #00ff00;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    filter: contrast(1.3) brightness(0.9) saturate(1.2);
}

.tabs {
    display: flex;
    background-color: #1e1e1e;
    width: 100%;
    border-bottom: 1px solid #333;
    z-index: 3;
}

.tab {
    color: #00ff00;
    padding: 3% 3%;
    /*
        First value: top bar height
        Second value: horizontal elements spacing
    */
    
    cursor: pointer;
}

.terminal-body {
    padding: 5%;
    width: 100%;
    height: calc(100vh - 40px);
    overflow-y: auto;
    background-color: #1e1e1e;
    color: #00ff00;
    white-space: pre-wrap;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: 16px;
    position: relative;
    z-index: 1;
    animation: flicker 1.5s alternate infinite;
}

.prompt {
    white-space: pre-wrap;
    color: #00ff00;
}

@keyframes flicker {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.98; }
}

@keyframes crt-lines {
    0% { background-position: 0 0; }
    100% { background-position: 0 100%; }
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
        rgba(255, 255, 255, 0.1) 50%, 
        rgba(0, 0, 0, 0.1) 50%
    );
    background-size: 100% 1%;
    /*
        The second value is the CRT lines height. We want to keep it responsive, so 1% it is
    */
    
    z-index: 2;
    opacity: 0.1;
    animation: crt-lines 15s linear infinite;
    /*
        We now use 15s of effect time to make it slow enough for a user to appreciate it.
    */
}


body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.05);
    z-index: 3;
    backdrop-filter: blur(0.5px);
}
